USE [CapaTours]
GO
/****** Objeto: Table [dbo].[AuditoriaErrores] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaErrores](
	[ErrorID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Mensaje] [varchar](max) NOT NULL,
	[Origen] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pagos] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReservaID] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Comprobante] [nvarchar](max) NULL,
	[Monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Resennas] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resennas](
	[ResennaID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[TourID] [bigint] NOT NULL,
	[ReservaID] [bigint] NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Contenido] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResennaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reservas] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ReservaID] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [bigint] NOT NULL,
	[TourID] [bigint] NOT NULL,
	[CantidadPersonas] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tours] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Destino] [varchar](255) NOT NULL,
	[Descripcion] [varchar](1000) NOT NULL,
	[Itinerario] [varchar](1000) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[Estado] [bit] NOT NULL,
	[Descuento] [decimal](3, 1) NULL,
	[Imagen] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [bigint] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](15) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Contrasenna] [varchar](255) NOT NULL,
	[TieneContrasennaTemp] [bit] NULL,
	[FechaVencimientoTemp] [datetime] NULL,
	[Estado] [bit] NOT NULL,
	[RolID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('En Espera') FOR [Estado]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[AuditoriaErrores]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Resennas]  WITH CHECK ADD CHECK  (([Calificacion]>=(1) AND [Calificacion]<=(5)))
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD CHECK  (([Estado]='En Espera' OR [Estado]='Confirmado' OR [Estado]='Cancelado' OR [Estado]='Completado'))
GO
/****** Objeto: StoredProcedure [dbo].[ActivarTour] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Activar Tour.
CREATE PROCEDURE [dbo].[ActivarTour]
    @TourID BIGINT
AS
BEGIN
    UPDATE dbo.Tours
    SET Estado = 1
    WHERE TourID = @TourID;
END
GO
/****** Objeto: StoredProcedure [dbo].[ActivarUsuario] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Activar Usuario.
CREATE PROCEDURE [dbo].[ActivarUsuario]
    @UsuarioID BIGINT
AS
BEGIN
    UPDATE dbo.Usuarios
    SET Estado = 1
    WHERE UsuarioID = @UsuarioID;
END
GO
/****** Objeto: StoredProcedure [dbo].[ActualizarPerfil] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Actualizar Perfil.
CREATE PROCEDURE [dbo].[ActualizarPerfil]
    @UsuarioID BIGINT,
    @Correo VARCHAR(100)
AS
BEGIN
    UPDATE dbo.Usuarios
    SET Correo = @Correo
    WHERE UsuarioID = @UsuarioID AND Estado = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[AnularReserva] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Anular Reserva.
CREATE PROCEDURE [dbo].[AnularReserva]
    @ReservaID BIGINT
AS
BEGIN
    UPDATE dbo.Reservas
    SET Estado = 'Cancelado'
    WHERE ReservaID = @ReservaID;
END
GO
/****** Objeto: StoredProcedure [dbo].[ConsultarClientes] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Consultar Clientes.
CREATE PROCEDURE [dbo].[ConsultarClientes]
    @UsuarioID BIGINT
AS
BEGIN
    IF (@UsuarioID = 0)
        SET @UsuarioID = NULL;

    SELECT 
        UsuarioID, 
        Identificacion, 
        Nombre, 
        ApellidoPaterno,
        ApellidoMaterno,
        Correo, 
        Estado,
        RolID
    FROM dbo.Usuarios
    WHERE UsuarioID = ISNULL(@UsuarioID, UsuarioID)
      AND RolID = 2
    ORDER BY 
        CASE WHEN Estado = 1 THEN 0 ELSE 1 END;
END
GO
/****** Objeto: StoredProcedure [dbo].[ConsultarReserva] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Consultar Reserva.
CREATE PROCEDURE [dbo].[ConsultarReserva]
    @ReservaID BIGINT
AS
BEGIN
    SELECT
        R.ReservaID,
        R.UsuarioID,
        R.TourID,
        R.CantidadPersonas,
        R.Estado,
        T.Nombre AS NombreTour,
        T.Precio,
        T.FechaInicio,
        T.FechaFin,
        U.Nombre,
        U.Correo
    FROM dbo.Reservas R
    INNER JOIN dbo.Tours T ON R.TourID = T.TourID
    INNER JOIN dbo.Usuarios U ON R.UsuarioID = U.UsuarioID 
    WHERE R.ReservaID = @ReservaID;
END
GO
/****** Objeto: StoredProcedure [dbo].[ConsultarTours] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Consultar Tours.
CREATE PROCEDURE [dbo].[ConsultarTours]
    @TourID BIGINT
AS
BEGIN
    IF (@TourID = 0) SET @TourID = NULL;

    SELECT
        TourID,
        Nombre,
        Destino,
        Precio,
        Capacidad,
        FechaInicio,
        FechaFin,
        Estado,
        Descuento,
        Descripcion,
        Itinerario,
        Imagen
    FROM dbo.Tours
    WHERE TourID = ISNULL(@TourID, TourID)
    ORDER BY 
        CASE WHEN Estado = 1 THEN 0 ELSE 1 END,
        CASE WHEN FechaInicio IS NOT NULL THEN 0 ELSE 1 END,
        FechaInicio,
        CASE WHEN FechaFin IS NOT NULL THEN 0 ELSE 1 END,
        FechaFin;

    IF @TourID IS NOT NULL
    BEGIN
        SELECT
            R.UsuarioID,
            U.Nombre + ' ' + U.ApellidoPaterno + ' ' + U.ApellidoMaterno AS NombreUsuario,
            R.Calificacion,
            R.Titulo,
            R.Contenido
        FROM dbo.Resennas R
        INNER JOIN dbo.Usuarios U ON R.UsuarioID = U.UsuarioID
        WHERE R.TourID = @TourID;
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[ConsultarToursActivos] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Consultar Tours Activos.
CREATE PROCEDURE [dbo].[ConsultarToursActivos]
AS
BEGIN
    SELECT * FROM dbo.Tours WHERE Estado = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[CrearResenna] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Crear Reseña.
CREATE PROCEDURE [dbo].[CrearResenna]
    @UsuarioID BIGINT,
    @TourID BIGINT,
    @ReservaID BIGINT,
    @Calificacion INT,
    @Titulo VARCHAR(50),
    @Contenido VARCHAR(1000)
AS
BEGIN
    INSERT INTO dbo.Resennas (UsuarioID, TourID, ReservaID, Calificacion, Titulo, Contenido)
    VALUES (@UsuarioID, @TourID, @ReservaID, @Calificacion, @Titulo, @Contenido);
END
GO
/****** Objeto: StoredProcedure [dbo].[CrearReservaTour] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Crear Reserva de Tour.
CREATE PROCEDURE [dbo].[CrearReservaTour]
    @UsuarioID BIGINT,
    @TourID BIGINT,
    @CantidadPersonas INT
AS
BEGIN
    DECLARE @CapacidadDisponible INT;

    SELECT @CapacidadDisponible = (T.Capacidad - ISNULL(SUM(R.CantidadPersonas), 0))
    FROM dbo.Tours T
    LEFT JOIN dbo.Reservas R ON T.TourID = R.TourID AND R.Estado IN ('En Espera', 'Confirmado')
    WHERE T.TourID = @TourID
    GROUP BY T.Capacidad;

    IF @CapacidadDisponible >= @CantidadPersonas
    BEGIN
        INSERT INTO dbo.Reservas (UsuarioID, TourID, CantidadPersonas)
        VALUES (@UsuarioID, @TourID, @CantidadPersonas);
    END
    ELSE
    BEGIN
        RAISERROR('No hay suficiente capacidad disponible.', 16, 1);
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[CrearTour] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Crear Tour.
CREATE PROCEDURE [dbo].[CrearTour]
    @Nombre VARCHAR(50),
    @Destino VARCHAR(255),
    @Precio DECIMAL(10,2),
    @Capacidad INT,
    @FechaInicio DATETIME,
    @FechaFin DATETIME,
    @Descripcion VARCHAR(1000),
    @Itinerario VARCHAR(1000),
    @Imagen VARCHAR(1000)
AS
BEGIN
    INSERT INTO dbo.Tours (
        Nombre, Destino, Precio, Capacidad, FechaInicio, FechaFin,
        Descripcion, Itinerario, Estado, Descuento, Imagen
    )
    VALUES (
        @Nombre, @Destino, @Precio, @Capacidad, @FechaInicio, @FechaFin,
        @Descripcion, @Itinerario, 1, 0, @Imagen
    );
END
GO
/****** Objeto: StoredProcedure [dbo].[DesactivarTour] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Desactivar Tour.
CREATE PROCEDURE [dbo].[DesactivarTour]
    @TourID BIGINT
AS
BEGIN
    UPDATE dbo.Tours
    SET Estado = 0
    WHERE TourID = @TourID;
END
GO
/****** Objeto: StoredProcedure [dbo].[DesactivarUsuario] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Desactivar Usuario.
CREATE PROCEDURE [dbo].[DesactivarUsuario]
    @UsuarioID BIGINT
AS
BEGIN
    UPDATE dbo.Usuarios
    SET Estado = 0
    WHERE UsuarioID = @UsuarioID;
END
GO
/****** Objeto: StoredProcedure [dbo].[EditarTour] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Editar Tour.
CREATE PROCEDURE [dbo].[EditarTour]
    @TourID BIGINT,
    @Nombre VARCHAR(50),
    @Destino VARCHAR(255),
    @Precio DECIMAL(10,2),
    @Capacidad INT,
    @FechaInicio DATETIME,
    @FechaFin DATETIME,
    @Descripcion VARCHAR(1000),
    @Itinerario VARCHAR(1000),
    @Imagen VARCHAR(1000)
AS
BEGIN
    UPDATE dbo.Tours
    SET 
        Nombre = @Nombre,
        Destino = @Destino,
        Precio = @Precio,
        Capacidad = @Capacidad,
        FechaInicio = @FechaInicio,
        FechaFin = @FechaFin,
        Descripcion = @Descripcion,
        Itinerario = @Itinerario,
        Imagen = CASE 
                    WHEN @Imagen IS NOT NULL AND LTRIM(RTRIM(@Imagen)) <> '' 
                    THEN @Imagen 
                    ELSE Imagen 
                 END
    WHERE TourID = @TourID;
END
GO
/****** Objeto: StoredProcedure [dbo].[ListarResennasPorTour] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Listar Reseñas Por Tour.
CREATE PROCEDURE [dbo].[ListarResennasPorTour]
    @TourID BIGINT
AS
BEGIN
    SELECT R.Titulo, R.Contenido, R.Calificacion, U.Nombre AS Usuario
    FROM dbo.Resennas R
    INNER JOIN dbo.Usuarios U ON R.UsuarioID = U.UsuarioID
    WHERE R.TourID = @TourID;
END
GO
/****** Objeto: StoredProcedure [dbo].[Login] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Iniciar Sesión.
CREATE PROCEDURE [dbo].[Login]
    @Correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    SELECT  
        U.UsuarioID,
        U.Identificacion,
        U.Nombre,
        U.Correo,
        U.Estado,
        U.RolID,
        R.NombreRol
    FROM dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE U.Correo = @Correo
      AND U.Contrasenna = @Contrasenna
      AND U.Estado = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerReservasAdmin] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Reservas en Administrador.
CREATE PROCEDURE [dbo].[ObtenerReservasAdmin]
AS
BEGIN
    SELECT 
        R.ReservaID,
        T.Nombre AS NombreTour,
        U.Nombre AS Cliente,
        U.Identificacion,
        R.CantidadPersonas,
        R.Estado,
        T.Precio,
        T.FechaInicio,
        T.FechaFin,
        P.Fecha AS FechaComprobante,
        P.Monto AS MontoComprobante,
        P.Comprobante
    FROM dbo.Reservas R
    INNER JOIN dbo.Tours T ON R.TourID = T.TourID
    INNER JOIN dbo.Usuarios U ON R.UsuarioID = U.UsuarioID
    LEFT JOIN dbo.Pagos P ON R.ReservaID = P.ReservaID
    ORDER BY 
        CASE R.Estado
            WHEN 'Confirmado' THEN 0
            WHEN 'Completado' THEN 1
            WHEN 'En Espera' THEN 2
            WHEN 'Cancelado' THEN 3
            ELSE 4
        END
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerReservasPorUsuario] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Reservas Por Usuario
CREATE PROCEDURE [dbo].[ObtenerReservasPorUsuario]
    @UsuarioID BIGINT
AS
BEGIN
    SELECT 
        R.ReservaID,
        R.TourID,
        R.UsuarioID, 
        T.Nombre AS NombreTour,
        T.Precio,
        T.FechaInicio,
        T.FechaFin,
        R.CantidadPersonas,
        R.Estado
    FROM dbo.Reservas R
    INNER JOIN dbo.Tours T ON R.TourID = T.TourID
    WHERE R.UsuarioID = @UsuarioID
    ORDER BY 
        CASE R.Estado
            WHEN 'Confirmado' THEN 0
            WHEN 'Completado' THEN 1
            WHEN 'En Espera' THEN 2
            WHEN 'Cancelado' THEN 3
            ELSE 4
        END;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioCompleto] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Usuario Completo.
CREATE PROCEDURE [dbo].[ObtenerUsuarioCompleto]
    @Correo VARCHAR(100)
AS
BEGIN
    SELECT  
        U.UsuarioID,
        U.Identificacion,
        U.Nombre,
        U.ApellidoPaterno,
        U.ApellidoMaterno,
        U.Correo,
        U.Estado,
        U.RolID,
        R.NombreRol
    FROM dbo.Usuarios U
    INNER JOIN dbo.Roles R ON U.RolID = R.RolID
    WHERE U.Correo = @Correo;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioPorCorreo] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Usuario Por Correo.
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorCorreo]
    @Correo VARCHAR(100)
AS
BEGIN
    SELECT 
        UsuarioID, Identificacion, Nombre, ApellidoPaterno, ApellidoMaterno,
        Correo, Estado, RolID
    FROM dbo.Usuarios
    WHERE LTRIM(RTRIM(Correo)) = LTRIM(RTRIM(@Correo))
      AND Estado = 1;
END
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerUsuarioPorReserva] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Obtener Usuario Por Reserva.
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorReserva]
    @ReservaID BIGINT
AS
BEGIN
    SELECT UsuarioID
    FROM dbo.Reservas
    WHERE ReservaID = @ReservaID;
END
GO
/****** Objeto: StoredProcedure [dbo].[PagarReserva] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Pagar Reserva.
CREATE PROCEDURE [dbo].[PagarReserva]
    @ReservaID INT,
    @Comprobante NVARCHAR(MAX),
    @Monto DECIMAL(10,2),
    @CantidadPersonas INT
AS
BEGIN
    INSERT INTO dbo.Pagos (ReservaID, Comprobante, Monto, Fecha)
    VALUES (@ReservaID, @Comprobante, @Monto, GETDATE());

    UPDATE dbo.Reservas
    SET Estado = 'Confirmado',
        CantidadPersonas = @CantidadPersonas
    WHERE ReservaID = @ReservaID;
END
GO
/****** Objeto: StoredProcedure [dbo].[RegistrarError] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Registrar Error.
CREATE PROCEDURE [dbo].[RegistrarError]
    @UsuarioID BIGINT,
    @Mensaje VARCHAR(MAX),
    @Origen VARCHAR(250)
AS
BEGIN
    INSERT INTO dbo.AuditoriaErrores (UsuarioID, FechaHora, Mensaje, Origen)
    VALUES (@UsuarioID, GETDATE(), @Mensaje, @Origen);
END
GO
/****** Objeto: StoredProcedure [dbo].[Registro] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Registro.
CREATE PROCEDURE [dbo].[Registro]
    @Identificacion VARCHAR(15),
    @Nombre VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM dbo.Usuarios 
        WHERE Identificacion = @Identificacion OR Correo = @Correo
    )
    BEGIN
        INSERT INTO dbo.Usuarios (
            Identificacion, Contrasenna, Nombre, ApellidoPaterno,
            ApellidoMaterno, Correo, Estado, RolID
        )
        VALUES (
            @Identificacion, @Contrasenna, @Nombre, @ApellidoPaterno,
            @ApellidoMaterno, @Correo, 1, 2
        );

        PRINT 'Cuenta registrada correctamente.';
    END
    ELSE
    BEGIN
        PRINT 'La identificación o el correo ya están registrados.';
    END
END
GO
/****** Objeto: StoredProcedure [dbo].[RestablecerContrasenna] Fecha de script: 27/4/2026 14:59:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento almacenado para Reestablecer Contraseña.
CREATE PROCEDURE [dbo].[RestablecerContrasenna]
    @Correo VARCHAR(100),
    @Contrasenna VARCHAR(255)
AS
BEGIN
    UPDATE dbo.Usuarios
    SET Contrasenna = @Contrasenna,
        TieneContrasennaTemp = 0,
        FechaVencimientoTemp = NULL
    WHERE Correo = @Correo AND Estado = 1;
END
GO
