@using CapaTours.Web.Models
@model UsuarioModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutExterno";
}

<body style="background-color: #B9C9A4;">

    <div class="cards-autenticacion">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card-autenticacion o-hidden border-0 shadow-lg my-5">

                    <div class="card-body p-0">

                        <div class="row">

                            <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url('/img/backgrounds/login.jpg');"></div>

                            <div class="col-lg-6">

                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido a Capa Tours</h1>
                                        <h1 class="h6 text-gray-600 mb-4">Explora lo mejor de Costa Rica con nosotros.</h1>
                                    </div>

                                    @if (!string.IsNullOrEmpty(ViewBag.Msj))
                                    {
                                        <div class="alert alert-danger">
                                            @ViewBag.Msj
                                        </div>
                                    }

                                    <form asp-action="Login" asp-controller="Autenticacion" method="post">
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" asp-for="Correo" placeholder="Correo" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control input-lg" asp-for="Contrasenna" placeholder="Contraseña" required>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block" style="background-color: #44572f;">
                                            Iniciar Sesión
                                        </button>
                                    </form>

                                    <hr>

                                    <div class="text-center">
                                        <a class="small" asp-controller="Autenticacion" asp-action="RecuperarContrasenna" style="color: #44572f;">¿Olvidaste tu contraseña?</a>
                                    </div>

                                    <div class="text-center">
                                        <a class="small" asp-controller="Autenticacion" asp-action="Registro" style="color: #44572f;">Crear una cuenta</a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
