@using CapaTours.Web.Models
@model TourModel

<div class="row px-5">

	<div class="col-12 px-0">

		<div class="row mx-1 mb-4">

			<div class="col-auto">
				<a class="btn btn-secondary btn-sm" asp-controller="Tours" asp-action="ListadoAdmin">
					<i class="fa-solid fa-arrow-left"></i> Regresar
				</a>
			</div>

		</div>

		<div class="row mx-1 mb-4">
			<div class="display-3 px-0 col-12">Creación de Tour</div>

			<div class="text-muted px-0">Agregue un nuevo tour completando el formulario.</div>
		</div>


		<div class="mt-4 p-5 rounded shadow-lg" style="background-color: #f9f9f9; border-left: 5px solid #44572F;">

			<form asp-controller="Tours" asp-action="CrearTour" method="post" enctype="multipart/form-data">

				<h5 class="text mt-4">Información del Tour</h5>

				<hr>

				<div class="row g-3 mt-2">

					<div class="col-md-6">

						<div class="form-floating">
							<label>Nombre</label>
							<input type="text" class="form-control input-lg" asp-for="Nombre" placeholder="Nombre" required>
						</div>

					</div>

					<div class="col-md-6">

						<div class="form-floating">
							<label>Destino</label>
							<input type="text" class="form-control input-lg" asp-for="Destino" placeholder="Destino" required>
						</div>

					</div>

				</div>

				<div class="row g-3 mt-2">

					<div class="col-md-6">

						<div class="form-floating">
							<label>Precio</label>
							<input type="number" class="form-control input-lg" asp-for="Precio" placeholder="Precio" required>
						</div>

					</div>

					<div class="col-md-6">

						<div class="form-floating">
							<label>Capacidad</label>
							<input type="number" class="form-control input-lg" asp-for="Capacidad" placeholder="Capacidad" required>
						</div>

					</div>

				</div>

				<div class="row g-3 mt-2">

					<div class="col-md-6">

						<div class="form-floating">
							<label>Fecha de Inicio</label>
							<input type="datetime-local" class="form-control input-lg" asp-for="FechaInicio" required>
						</div>

					</div>

					<div class="col-md-6">

						<div class="form-floating">
							<label>Fecha de Fin</label>
							<input type="datetime-local" class="form-control input-lg" asp-for="FechaFin" required>
						</div>

					</div>

				</div>

				<div class="row g-3 mt-2">

					<div class="col-md-12">

						<div class="form-floating">
							<label>Descripción</label>
							<textarea class="form-control input-lg" asp-for="Descripcion" placeholder="Descripción" required></textarea>
						</div>

					</div>

				</div>

				<div class="row g-3 mt-2">

					<div class="col-md-12">

						<div class="form-floating">
							<label>Itinerario</label>
							<textarea class="form-control input-lg" asp-for="Itinerario" placeholder="Itinerario" required></textarea>
						</div>

					</div>

				</div>

				<h5 class="text mt-4">Imágenes del Tour</h5>

				<hr>

				<div class="row g-3 mt-2">

					<div class="col-md-12">
						<label for='imagen' class='form-label'>Imágen</label>
						<input type='file' class='form-control' asp-for="Imagen" accept='image/*' required>
					</div>

				</div>

				<div class="row g-2 mt-4">

					<div class="col-md">
						<button type="submit" class="btn w-100" style="background-color: #44572F; color: white;">
							<i class="fa-solid fa-check"></i> Guardar Tour
						</button>
					</div>

				</div>

			</form>

		</div>

	</div>

</div>
